* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #26335D;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 90%;

    display: flex;
    justify-content: flex-start;
    gap: 200px;
    align-items: center;
    padding: 20px 10%;

    background: transparent;
    z-index: 10;
}


.logo {
    font-size: 22px;
    font-weight: 700;
}

nav a {
    margin-right:35px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.join-top {
    background:#8D5CF6;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 8%;

    
    background: 
        linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.2)),
        url("images/hero.png");

    background-size: cover;
    background-position: right 1px;
    background-repeat: no-repeat;
}

.content {
    max-width: 550px;
}

.welcome {
    color: #8D5CF6;
    margin-bottom: 20px;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.text {
   font-size: 18px;
    font-weight: 400;
    line-height: 1.8;        
    word-spacing: 2px;       
    letter-spacing: 0.5px;   
    color: #ddd;
    max-width: 500px;
    margin-bottom: 20px;
   
}

.buttons button {
    padding: 14px 28px;
    border-radius: 6px;
    margin-right: 15px;
    cursor: pointer;
}

.btn1 {
    background:#8D5CF6;
    border: none;
    color: white;
}

.btn2 {
    background: transparent;
    border: 1px solid #ccc;
    color: white;
}


@media (max-width: 900px) {

    .hero {
        height: auto;
        padding: 100px 8%;
        background-position: center;
    }

    h1 {
        font-size: 40px;
    }

    nav {
        margin-right: 35px;
        display: none;
    }
}

.video-section {
    background-color: #2D3B66;
    padding: 100px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}



.video-left {
    flex: 1;
}

.red-line {
    width: 50px;
    height: 4px;
    background-color: #FF4D4D;
    margin-bottom: 20px;
}

.video-left h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.video-left p {
    font-size: 16px;
    line-height: 1.8;
    color: #cbd2ff;
    margin-bottom: 25px;
    max-width: 400px;
}

.learn-link {
    color: #8E5CFF;
    text-decoration: none;
    font-weight: 600;
}

.video-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.video-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.video-box img {
    width: 100%;
    display: block;
    border-radius: 15px;
}


.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8E5CFF;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 900px) {

    .video-section {
        flex-direction: column;
        text-align: center;
    }

    .video-left p {
        max-width: 100%;
    }
}


.brands-section {
    background-color: #2D3B66;
    padding: 80px 8%;
}

.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.brands img {
    height: 50px;
    opacity: 0.8;
    transition: 0.3s;
}

.brands img:hover {
    opacity: 1;
}

@media (max-width: 900px) {

    .brands {
        justify-content: center;
        gap: 40px;
    }

    .brands img {
        height: 30px;
    }
}


.education-section {
    background-color: #2D3B66;
    padding: 100px 8%;
}



.small-title {
    color: #8E5CFF;
    font-weight: 600;
    margin-bottom: 10px;
}

.edu-header h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.edu-text {
    color: #cbd2ff;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 60px;
}


.edu-cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap; 
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
   

}
.edu-cards .card:nth-child(2),
.edu-cards .card:nth-child(4) {
    margin-top: 70px;   
     justify-content: center;
     
}
.education-section {
    padding: 100px 12%;
}




.card {
    background: #f2f2f2;
    padding: 40px 30px;
    width: 250px;
    text-align: left;
    color: #222;
}

.card h3 {
    margin: 20px 0 10px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #555;
}



.card.active {
    background: linear-gradient(135deg, #8E5CFF, #6A4DFF);
    color: white;
}
.card.active h3,
.card.active p {
    color: #e5e5ff;
}


.red-line {
    width: 40px;
    height: 3px;
    background: #ff4d4d;
    margin: 15px 0;
}

.white-line {
    width: 40px;
    height: 3px;
    background: white;
    margin: 15px 0;
}



.icon {
    font-size: 40px;
}


@media (max-width: 900px) {
    .edu-cards .card:nth-child(2),
    .edu-cards .card:nth-child(4) {
        margin-top: 0;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}


.card-img {
    position: relative;
    overflow: hidden;
    height: 180px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.course-card {
    width: 250px;
    background: #f2f2f2;
    overflow: hidden;
    margin-top: 80px;
}



.card-img {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sale {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #FF4D4D;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 3px;
}


.img-icons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}


.icon-img {
    width: 38px;
    height: 38px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.icon-circle {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}



.icon-circle img {
    width: 20px;   
    height: 20px;
    object-fit: contain;
}
.icon-circle img[src*="heart"] {
    width: 20px;
    height: 20px;
}

.icon-circle:hover {
    background: #8E5CFF;
}

.icon-img:hover {
    background: #8E5CFF;
}


.card-content {
    padding: 20px;
    color: #222;
}


.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.join {
    color: #8E5CFF;
    font-weight: 600;
    font-size: 14px;
}

.rating {
    background: #26335D;
    color: #FFD700;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.course-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.sales {
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
}


.price {
    margin-bottom: 15px;
}

.old {
    text-decoration: line-through;
    color: #999;
    margin-right: 8px;
}

.new {
    color: #FF4D4D;
    font-weight: 600;
}


.learn-btn {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #8E5CFF;
    background: transparent;
    color: #8E5CFF;
    cursor: pointer;
    font-size: 13px;
}

.learn-btn:hover {
    background: #8E5CFF;
    color: white;
}

.clients-section {
    background: #2D3B66;
    padding: 100px 8%;
}

.course-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.clients-text {
    color: #cbd2ff;   
}




.popular-section {
    background: #2D3B66;
    padding: 120px 8%;
}

.popular-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    
}


.popular-left img {
    width: 420px;
    max-width: 100%;
    margin-left: 150px;
}


.popular-right {
    max-width: 450px;
}

.popular-line {
    width: 60px;
    height: 4px;
    background: #FF4D4D;
    margin-bottom: 25px;
}

.popular-right h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
}

.popular-right p {
    color: #cbd2ff;
    line-height: 1.8;
    margin-bottom: 25px;
}

.popular-btn {
    color: #8E5CFF;
    text-decoration: none;
    font-weight: 600;
}


@media (max-width: 900px) {

    .popular-container {
        flex-direction: column;
        text-align: center;
    }

    .popular-right {
        max-width: 100%;
    }
}


.testimonial-section {
    background: #2D3B66;
    padding: 120px 12%;
    text-align: left;
}

.small-purple {
    color: #8E5CFF;
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonial-header h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

.testimonial-text {
    color: #cbd2ff;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 70px;
   
}


.testimonial-cards {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.testimonial-card {
    background: #f2f2f2;
    padding: 50px 40px;
    width: 500px;
    text-align: center;
    color: #222;
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}


.review {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}


.stars {
    color: #FFD700;
    font-size: 20px;
    margin-bottom: 15px;
}



.testimonial-card h4 {
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonial-card span {
    font-size: 14px;
    color: #777;
}



@media (max-width: 900px) {
    .testimonial-cards {
        flex-direction: column;
        align-items: center;
    }
}


.team-section {
    background: #2D3B66;
    padding: 120px 8%;
}


.team-small {
    color: #8E5CFF;
    font-weight: 600;
    margin-bottom: 10px;
}

.team-header h2 {
    font-size: 42px;
    margin-bottom: 10px;
    
}

.team-text {
    color: #cbd2ff;
    max-width: 500px;
    line-height: 1.7;
    margin-bottom: 70px;
}


.team-cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}


.team-card {
    width: 250px;
    background: #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}


.team-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}


.team-info {
    padding: 20px;
    color: #222;
}

.team-info h4 {
    margin-bottom: 5px;
    font-weight: 600;
}

.team-info p {
    color: #777;
    font-size: 14px;
    margin-bottom: 15px;
}

.team-section {
    background: #2D3B66;
    padding: 120px 12%;
}


.social-icons i {
    color: #8D5CF6;
    margin: 0 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #6c3cff;
}



.team-card:hover {
    transform: translateY(-8px);
}


@media (max-width: 1000px) {
    .team-cards {
        gap: 25px;
    }
}


.newsletter-section {
    background: #2D3B66;
    padding: 120px 0;
    text-align: center;
}

.newsletter-container {
    width: 70%;
    margin: auto;
}



.newsletter-small {
    color: #8E5CFF;
    font-weight: 600;
    margin-bottom: 10px;
}



.newsletter-section h2 {
    font-size: 42px;
    margin-bottom: 15px;
}



.newsletter-text {
    color: #cbd2ff;
    max-width: 600px;
    margin: 0 auto 50px auto;
    line-height: 1.7;
}



.newsletter-form {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.newsletter-form input {
    flex: 1;
    padding: 18px;
    border: none;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    outline: none;
}

.newsletter-form button {
    padding: 18px 35px;
    border: none;
    background: #8E5CFF;
    color: white;
    font-weight: 500;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter-form button:hover {
    background: #6c3cff;
}


@media (max-width: 768px) {

    .newsletter-container {
        width: 90%;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input {
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .newsletter-form button {
        border-radius: 6px;
    }
}



.footer-section {
    background: #2D3B66;
    padding-top: 80px;
}


.footer-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    flex-wrap: wrap;
    column-gap: 60px;
    padding-bottom: 60px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col a {
    color: #cbd2ff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #8E5CFF;
}

.footer-col p {
    color: #cbd2ff;
    font-size: 14px;
    line-height: 1.6;
}
.contact-item {
    display: flex;           
    align-items: flex-start; 
    gap: 12px;               
    line-height: 1.6;
}

.contact-item img {
    width: 18px;
    height: 18px;
    margin-top: 3px;         
}



.footer-bottom {
    background: #f2f2f2;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    font-size: 14px;
    color: #555;
}

.footer-social i {
    margin-left: 15px;
    color: #8E5CFF;
    cursor: pointer;
    font-size: 22px; 
    transition: 0.3s;
}

.footer-social i:hover {
    color: #6c3cff;
}

@media (max-width: 900px) {

    .footer-container {
        gap: 40px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}








